<h1>Enter your Survey Title</h1>

<form action="/surveys" id="survey_title" method="POST">
  <input type="text" name="title" placeholder="Title">
  <input type="submit" class="link_button"  value="start survey">
</form>
