<form action="/login" method="POST">
  <input type="text" name="name" placeholder="Please enter your name" required><br>
  <input type="email" name="email" placeholder="Please enter your email address" required><br>
  <input type="text" name="password" placeholder="Please enter your password" required><br>
  <input type="submit" value="Login">
</form>

<%= @message %>
